#steel{
    padding-left:var(--padding-intern);
    padding-right:var(--padding-intern);
}
  
#grid-galerie {
    display:grid;
    grid-row-gap:0.5em;
    grid-column-gap:0.5em;
    grid-template-columns: 1fr 1fr;
}

#grid-galerie>figure:nth-child(6) {
    grid-area: auto;
  }
  
  #grid-galerie>figure:nth-child(7) {
    grid-area: auto;
  }
  
  #grid-galerie>figure:nth-child(8) {
    grid-area: auto;
  }
  
  #grid-galerie>figure:nth-child(9) {
    grid-area: auto;
  }
  
  #grid-galerie>figure:nth-child(10) {
    grid-area: auto;
  }

#grid-galerie img{
    width: 100%;
}
#grid-galerie figcaption{
    text-align:center;
} 
@media screen and ((min-width:751) and (max-width:999px)){
    #grid-galerie {
        display: block;
    }
}