#steel{
    padding-left:var(--padding-intern);
    padding-right:var(--padding-intern);
}
  
#grid-galerie {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:0.5em;
    grid-column-gap:0.5em;
}
#grid-galerie img{
    width: 100%;
}
#grid-galerie figcaption{
    text-align:center;
} 
@media screen and ((min-width:751) and (max-width:999px)){
    #grid-galerie {
        display: block;
    }
}