<header>
    <div class="header">
        <!-- 5) navigatie -->
        <h1><b>W</b>heels <b>A</b>uto</h1>
        <nav>
            <p id="absolut">My personal project!</p>
            <label id="house" for="med-menu" >
                <i class="fa fa-home"></i>
            </label>
            <input id="med-menu" type="checkbox">
            <label id="hamburger" for="ch-menu">
                <img src="Resources/Images/Hamburger_icon_alb.png" alt="menu">
            </label> 
            <input id="ch-menu" type="checkbox">
            <ul class="menu">
                <li class="home"><a href="index"><i class="fa fa-home"></i><b>Home</b></a></li>
                <li><div>New Releases</div>
                    <ul>
                        <li><a href="#alloy">..alloy..</a></li>
                        <li><a href="#steel">..steel..</a></li>
                        <li><a href="#packages">..packages..</a></li>
                        <li><a href="#reviews">..reviews..</a></li>
                        <li><a href="#delivery">..delivery..</a></li>
                        <li><a href="#topSell">..topselling..</a></li>
                        <li><a href="#newsletter">..newsletter..</a></li>
                        <li><a href="#prizes">..prizes..</a></li>
                    </ul>
                </li>
                <li><a href="aboutUs">About us</a></li>
                <li><div>Products</div>
                    <ul>
                        <li><a href="wheels.html">Wheels</a></li>
                        <li><a href="accessories.html">Accessories</a></li>
                    </ul>
                </li>
                <li><a href="contactsupport.html">Contact&Support</a></li>
            </ul>
        </nav>
    </div> 
</header>